<a href="https://colab.research.google.com/github/Cerasela-b/ml-product-category-classifier/blob/main/notebook/category_classifier_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading and Inspecting the Dataset

In order to understand the data we need to explore its structure.

In this step, we will:

- Load the CSV file from the available source GitHub

- Check how many rows and columns the dataset contains

- Display the first few rows to get an initial view of the data

- Review the data types and basic metadata for each column

In [2]:
import pandas as pd

# load dataset from GitHub
url = "https://raw.githubusercontent.com/Cerasela-b/ml-product-category-classifier/main/data/products.csv"
df = pd.read_csv(url)

# Print shape (number of rows and columns)
print("Dataset shape (rows, columns):", df.shape)

print("\nFirst 5 rows:")
print(df.head())

# Show column data types and non-null counts
print("\nDataset info:")
df.info()

Dataset shape (rows, columns): (35311, 8)

First 5 rows:
   product ID                                      Product Title  Merchant ID  \
0           1                    apple iphone 8 plus 64gb silver            1
1           2                apple iphone 8 plus 64 gb spacegrau            2
2           3  apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...            3
3           4                apple iphone 8 plus 64gb space grey            4
4           5  apple iphone 8 plus gold 5.5 64gb 4g unlocked ...            5

   Category Label _Product Code  Number_of_Views  Merchant Rating  \
0   Mobile Phones    QA-2276-XC            860.0              2.5
1   Mobile Phones    KA-2501-QO           3772.0              4.8
2   Mobile Phones    FP-8086-IE           3092.0              3.9
3   Mobile Phones    YI-0086-US            466.0              3.4
4   Mobile Phones    NZ-3586-WP           4426.0              1.6

   Listing Date
0       5/10/2024
1      12/31/2024
2      11/10/2024
3        5/2/2022
4       4/12/2023

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35311 entries, 0 to 35310
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product ID       35311 non-null  int64
 1   Product Title    35139 non-null  object
 2   Merchant ID      35311 non-null  int64
 3    Category Label  35267 non-null  object
 4   _Product Code    35216 non-null  object
 5   Number_of_Views  35297 non-null  float64
 6   Merchant Rating  35141 non-null  float64
 7    Listing Date    35252 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 2.2+ MB